body {
    /* background-color: #424141; */
    background-color: white;
  }

  img {
    position: absolute;
  }

  .burger {
    width: 100;
    height: 100;
  }

  .teddy {
    width: 150px;
    height: 250px;
  }